@model SocialModel
<label>Sosyal Medya</label>
<ul>
    @if (!string.IsNullOrEmpty(Model.FacebookLink))
    {
        <li><a href="@Model.FacebookLink" target="_blank"><img src="/images/facebook.png" alt="facebook" /></a></li>
    }
    @if (!string.IsNullOrEmpty(Model.TwitterLink))
    {
        <li><a href="@Model.TwitterLink" target="_blank"><img src="/images/twitter.png" alt="twetter" /></a></li>
    }
    @if (Model.NewsEnabled)
    {
        <li class="rss"><a href="@Url.RouteUrl("NewsRSS", new {languageId = Model.WorkingLanguageId})"></a></li>
    }
    @if (!string.IsNullOrEmpty(Model.YoutubeLink))
    {
        <li><a href="@Model.YoutubeLink" target="_blank"><img src="/images/instagram.png" alt="instagram" /></a></li>
    }
    @if (!string.IsNullOrEmpty(Model.GooglePlusLink))
    {
        <li><a href="@Model.GooglePlusLink" target="_blank"><img src="/images/linkedin.png" alt="linkedin" /></a></li>
    }
    @if (!string.IsNullOrEmpty(Model.FacebookLink))
    {
        <li><a href="@Model.FacebookLink" target="_blank"><img src="/images/whatsapp.png" alt="whatsapp" /></a></li>
    }
</ul>